.login {
    box-sizing: border-box;
    &__title {
        box-sizing: border-box;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.34;
        text-align: center;
        margin: 0 auto 18px auto;
        padding: 0px 45px;
        max-width: 730px;
    }
    &__form {
        box-sizing: border-box;
        text-align: center;
        margin: 0 auto 56px auto;
        padding: 0 0;
        max-width: 280px;
    }
    &__fields {
        margin-bottom: 36px;
    }
}
