// colors
$black: #050310;
$red: #BF000B;
$grey: #C1CBDE;
$blue: #00A6FF;
$violet: #7D3DAF;
$green: #3EA842;
$light: #F7F9FD;
$white:#FFFFFF;

//z-index
$z50: 50;
$z100: 100;
$z150: 150;
$z200: 200;
$z250: 250;

// shadow
$shadow: 0px 4px 11px rgba(143, 145, 148, 0.25);
